@import "tailwindcss";

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes x-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animated-gradient {
  background-size: 300% 300%;
  animation: gradient-move 8s linear infinite;
}

.animated-x {
  animation:
    gradient-move 8s linear infinite,
    x-pulse 8s ease-in-out infinite;
  transform-origin: center;
}

button:hover {
  cursor: pointer;
}
